%html(lang="en")
  %head
    %title = "Last.FM Wordle"
  %body
    .center
      %form{id: "dummy"}
        %label{for: "lastfm_username"} = "Last.FM Username: "
        %input{name: "lastfm_username", id: "lastfm_username" }
        %button{id: "submit"} = "Submit"
    .hidden{style: "display:none"}
      %form{method: "POST", action: "http://www.wordle.net/advanced", id: "wordle"}
        %textarea{name: "wordcounts", id: "wordle_input"}
        %input{type: "submit"}
    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
    %script{src: "thempipes.js"}
